.title {
    text-align: center;
    color: black;
    background-color: rgb(16, 158, 111);

}

ul{
    text-align: left;
    text-decoration-line: underline;
    font-size: 20px;
}

.esponja{
    font-size: 10 px;
    color: rgb(219, 230, 230);
    background-color: rgb(69, 102, 192);
    margin: 0 auto;
    display: table;
    padding: 5px;
    margin-top: 400px;
   border: 2px black double;
    
}

.esponjosita{
    
}

body{
    margin-left: 50px;
    margin-right: 50px;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}